@model Pro.Data.Entities.BuildingInfoView
@{
    Layout = "~/Views/Shared/_View.cshtml";
    ViewBag.Title = "Buildings";
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")

    <link rel="stylesheet" href="~/Scripts/jq/mobile/jquery.mobile-1.4.5.min.css" />
    <script src="~/Scripts/jq/mobile/jquery.mobile-1.4.5.min.js"></script>

    <style type="text/css">
        .row_detail {
            margin: 10px;
            direction: rtl;
        }

        .row_link {
            margin: 10px;
            direction: rtl;
            font-size: 16px;
        }
    </style>

}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            // First, checks if it isn't implemented yet.
            if (!String.prototype.format) {
                String.prototype.format = function () {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function (match, number) {
                        return typeof args[number] != 'undefined'
                          ? args[number]
                          : match
                        ;
                    });
                };
            }

            JSON.useDateParser();
            var theme = 'Arctic';
            // prepare the data

            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'UnitId', type: 'number' },
                    { name: 'BuildingId', type: 'number' },
                    { name: 'BuildingName', type: 'string' },
                    //{ name: 'Street', type: 'string' },
                    //{ name: 'City', type: 'string' },
                    { name: 'FloorNum', type: 'number' },
                    { name: 'UnitNum', type: 'number' },
                    { name: 'UnitSize', type: 'number' },
                    { name: 'Price', type: 'number' },
                    { name: 'ContactName', type: 'string' },
                    { name: 'ContactPhone', type: 'string' },
                    { name: 'ContactMobile', type: 'string' },
                    { name: 'ContactMail', type: 'string' },
                    //{ name: 'Populate', type: 'bool' },
                    //{ name: 'UserName', type: 'string' },
                    //{ name: 'OwnerName', type: 'string' },
                    { name: 'Memo', type: 'string' },
                    { name: 'LastUpdate', type: 'date' },
                    { name: 'Pic1', type: 'string' },
                    { name: 'Pic2', type: 'string' },
                    { name: 'Pic3', type: 'string' }

                ],
                id: 'UnitId',
                type: 'POST',
                url: '@Url.Action("GetUnitGrid", "Building")',
                //localdata: {},
                //pagenum: 3,
                pagesize: 20,
                root: 'Rows',
                beforeprocessing: function (data) {
                    source.totalrecords = data.TotalRows;
                },
                pager: function (pagenum, pagesize, oldpagenum) {
                    // callback called when a page or page size is changed.
                }
            };
            //var rowBegin = 0;
            //var rowEnd=20
            source.data = { 'BuildingId': '@Model.BuildingId' };


            //onclick="alert(' + value + ');"
            var dataAdapter = new $.jqx.dataAdapter(source, {
                loadComplete: function (data) { }
                //loadError: function (xhr, status, error) { alert('error ' + error) }
            });

            //var dataAdapter = new $.jqx.dataAdapter(source);
            //var dataAdapter = new $.jqx.dataAdapter(source, { async: true, autoBind: true });

            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
                var qs = "?id={0}&bid={1}".format(value, '@Model.BuildingId');
                return '<div style="text-align:center"><a href="UnitDef' + qs + '" >הצג</a></div>';
            };

            var initrowdetails = function (index, parentElement, gridElement, datarecord) {
                var tabsdiv = null;
                var information = null;
                var notes = null;
                var photos = null;
                var actions = null;
                tabsdiv = $($(parentElement).children()[0]);
                if (tabsdiv != null) {
                    information = tabsdiv.find('.information');
                    notes = tabsdiv.find('.notes');
                    photos = tabsdiv.find('.photos');
                    actions = tabsdiv.find('.actions');


                    //info container
                    var infocontainer = $('<div style="margin: 5px;text-align:right;"></div>')
                    infocontainer.rtl = true;
                    infocontainer.appendTo($(information));

                    var leftcolumn = $('<div style="float: left; width: 45%;direction:rtl;"></div>');
                    var rightcolumn = $('<div style="float: right; width: 40%;direction:rtl;"></div>');
                    //container.append(photocolumn);
                    infocontainer.append(leftcolumn);
                    infocontainer.append(rightcolumn);


                    var infosection = "<div class='row_detail'><b>{0}:</b>{1}</div>";

                    $(leftcolumn).append(infosection.format("קוד יחידה", datarecord.UnitId));
                    $(leftcolumn).append(infosection.format("מספר קומה", datarecord.FloorNum));
                    $(leftcolumn).append(infosection.format("מספר יחידה", datarecord.UnitNum));
                    $(leftcolumn).append(infosection.format("שטח", datarecord.UnitSize));
                    $(leftcolumn).append(infosection.format("מחיר", datarecord.Price));

                    $(rightcolumn).append(infosection.format("איש קשר", datarecord.ContactName));
                    $(rightcolumn).append(infosection.format("טלפון", datarecord.ContactPhone));
                    $(rightcolumn).append(infosection.format("סלולארי", datarecord.ContactMobile));
                    $(rightcolumn).append(infosection.format("דואל", datarecord.ContactMail));
                    $(rightcolumn).append(infosection.format("מספר בניין", datarecord.BuildingId));

                    //notes container
                    var notescontainer = $('<div style="white-space: normal; margin: 5px;text-align:right;"><span>' + datarecord.Memo + '</span></div><br/>' +
                        '<div style="white-space: normal; margin: 5px;text-align:right;"><span>' + '' + '</span></div>');
                    notescontainer.rtl = true;
                    $(notes).append(notescontainer);


                    //photos container
                    //var photocontainer = $('<div style="margin: 5px;text-align:right;"></div>')
                    //photocontainer.rtl = true;

                    //var photo = $("<div class='jqx-rc-all' style='margin: 10px;'><b>תמונה:</b></div>");
                    //var image = $("<div style='margin-top: 10px;'></div>");
                    //var img1 = $('<a class="group1" href="' + imgUrl(datarecord.Pic1) + '"><img src="' + imgUrl(datarecord.Pic1) + '" style="max-width:80px; height:auto;"/></a>').colorbox({ rel: 'group1' });
                    //var img2 = $('<a class="group1" href="' + imgUrl(datarecord.Pic2) + '"><img src="' + imgUrl(datarecord.Pic2) + '" style="max-width:80px; height:auto;"/></a>').colorbox({ rel: 'group1' });
                    //var img3 = $('<a class="group1" href="' + imgUrl(datarecord.Pic3) + '"><img src="' + imgUrl(datarecord.Pic3) + '" style="max-width:80px; height:auto;"/></a>').colorbox({ rel: 'group1' });
                    //var btnUpload = $('<span style="padding:10px;disply:inline;"><input type="button" value="עריכת תמונות" /></span>').on('click', function () {
                    //    showImgUploader(datarecord.BuildingId, datarecord.UnitId, datarecord.Pic1, datarecord.Pic2, datarecord.Pic3);
                    //});

                    //image.append(btnUpload);

                    //image.append(img1);
                    //image.append(img2);
                    //image.append(img3);

                    //image.appendTo(photo);
                    //photocontainer.append(photo);
                    //$(photos).append(photocontainer);

                    //actions container
                    var actionscontainer = $('<div style="white-space: normal; margin: 5px;text-align:right;"></div>');
                    actionscontainer.rtl = true;
                    actionscontainer.append("<span class='row_link'><a href='../Crm/AdsDef?id=" + datarecord.UnitId + "&op=u'>פרסום חדש</a></span>");
                    actionscontainer.append("<span class='row_link'><a href='../Crm/AdsGrid?id=" + datarecord.UnitId + "&op=property'>דוח פרסום</a></span>");

                    //var mediaLink = $('<a class="row_link" href="#popupMedia" data-rel="popup" data-position-to="window" data-role="button" data-theme="a" data-inline="true">תמונות</a>')
                    //.on('click', function () {
                    //    $('#mediaFrame').attr("src", "_Media?bid=" + datarecord.BuildingId + "&pid=" + datarecord.UnitId + "&pt=u")
                    //    .attr("width", "900")
                    //    .attr("height", "520");
                    //});
                    //actionscontainer.append(mediaLink);


                    $(actions).append(actionscontainer);


                    $(tabsdiv).jqxTabs({ width: '95%', height: 170, rtl: true });
                }
            }

            // load virtual data.
            //var rendergridrows = function (params) {
            //    alert('rendergridrows');
            //    var data = generatedata(params.startindex, params.endindex);
            //    return data;
            //}

            // create Tree Grid
            $("#jqxgrid").jqxGrid(
            {
                width: '100%',
                autoheight: true,
                rtl: true,
                source: dataAdapter,
                localization: getLocalization('he'),
                //virtualmode: true,
                //rendergridrows: function (obj) {
                //    //alert('virtualmode');
                //    console.log(obj)
                //    return obj.data;
                //},
                pageable: true,
                //pagermode: 'simple',
                //sortable: true,
                altrows: true,
                //rowdetails: true,
                rowdetailstemplate: { rowdetails: "<div style='margin: 10px;'><ul style='margin-left: 30px;'><li class='title'>כללי</li><li>פרטים</li><li>תמונות</li><li>פעולות</li></ul><div class='information'></div><div class='notes'></div><div class='photos'></div><div class='actions'></div></div>", rowdetailsheight: 200 },
                //ready: function () {
                //    $("#jqxgrid").jqxGrid('showrowdetails', 0);
                //},
                //initrowdetails: initrowdetails,
                columns: [
                  //{ text: 'קוד בניין', dataField: 'BuildingId', width: 100, cellsalign: 'right', align: 'center', cellsrenderer: cellsrenderer },
                  { text: 'קוד יחידה', dataField: 'UnitId', width: 100, cellsalign: 'right', align: 'center', cellsrenderer: cellsrenderer },
                  { text: 'קומה', dataField: 'FloorNum', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'שטח', dataField: 'UnitSize', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'מחיר', dataField: 'Price', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'איש קשר', dataField: 'ContactName', cellsalign: 'right', align: 'center' },
                  { text: 'סלולארי', dataField: 'ContactMobile', width: 150, cellsalign: 'right', align: 'center' },
                  { text: 'מועד עדכון', dataField: 'LastUpdate', type: 'date', width: 120, cellsformat: 'd', cellsalign: 'right', align: 'center' }
                ]
            });
            //$("#jqxgrid").on("sort", function (event) {
            //    var sortinformation = event.args.sortinformation;
            //    var sortdirection = sortinformation.sortdirection.ascending ? "ascending" : "descending";
            //    if (!sortinformation.sortdirection.ascending && !sortinformation.sortdirection.descending) {
            //        sortdirection = "null";
            //    }
            //    var eventData = "Triggered 'sort' event <div>Column:" + sortinformation.sortcolumn + ", Direction: " + sortdirection + "</div>";
            //});

            $("#linkNewUnit").jqxLinkButton({ width: '200', height: '30' });


        });
    </script>

}


@section featured {


}

<!--breadcrumb-->
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="@System.Web.HttpContext.Current.Request.UrlReferrer">BuildingQuery</a> >
@ViewContext.RouteData.Values["action"].ToString()


<hgroup class="title">
    <h3 class="rightPan">רשימת נכסים</h3>
</hgroup>

<div class="clear"></div>

<div class="global">
    <div class="container-box">

        <div class="grid-wrap">
            <div style="display: inline; text-align: right; font-size: 18px; direction: rtl;">
                <div><a href="BuildingDef?id=@Model.BuildingId" title="הצג בניין"><span>בניין:</span>@Model.BuildingName</a></div>
                <div><span>כתובת: </span>@Model.Address</div>
                <div><a id="linkNewUnit" href="UnitDef?id=0&bid=@Model.BuildingId" title="הוספת יחידה">הוספת יחידה</a></div>
            </div>

            <div id="jqxWidget">
                <div id="jqxgrid" style="position: relative; z-index: 1;"></div>
                <div style="margin-top: 30px;">
                    <div id="cellbegineditevent"></div>
                    <div style="margin-top: 10px;" id="cellendeditevent"></div>
                </div>

            </div>
            <div data-role="popup" id="popupMedia" data-overlay-theme="b" data-theme="b" data-corners="false" data-tolerance="15,15">
                <a href="#" data-rel="back" data-role="button" data-theme="b" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
                <iframe id="mediaFrame" seamless></iframe>
            </div>
        </div>
    </div>
</div>
