@model Pro.Models.BuildingQuery
@{
    Layout = "~/Views/Shared/_View.cshtml";
    ViewBag.Title = "Buildings";
}

@section head { 
    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
    <script src="~/Scripts/app/app-jqx-grid.js"></script>
    <script src="~/Scripts/app/model/units-grid.js"></script>
    <style type="text/css">

        .row_detail {margin: 10px;direction:rtl;}
        .row_link {margin: 10px;direction:rtl;font-size:16px}

    </style>
}


@section scripts {

    <script type="text/javascript">
    var allowEdit = 0;
    $(document).ready(function () {

        allowEdit = ('@ViewBag.UserRole' == 9) ? 1 : 0;
        var userId = '@ViewBag.UserId';

        // First, checks if it isn't implemented yet.
        if (!String.prototype.format) {
            String.prototype.format = function () {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function (match, number) {
                    return typeof args[number] != 'undefined'
                      ? args[number]
                      : match
                    ;
                });
            };
        }

        JSON.useDateParser();
        var theme = 'Arctic';

        app_units_grid.load('@Model.QueryType', '@Model.Area', '@Model.DealType', '@Model.PurposeType', '@Model.AreaSizeMin', '@Model.AreaSizeMax', '@Model.BuildingName', '@Model.BuildingStreet', '@Model.StreetNo', '@Model.City', '@Model.OwnerId', '@Model.BuildingId');
        app_jqxgrid.gridFilterRtl(this, $("#grid-toolbar"), columnList, dateList);
    });
   
        function getUserId() {
            return @ViewBag.UserId;
        }
        function getAllowEdit() {
            return ('@ViewBag.UserRole' == 9) ? 1 : 0;
        }

        function deleteUnit(unitId, BuildingId, FloorNum, PropertyType) {
            app_units.deleteUnit(unitId, BuildingId, FloorNum, PropertyType);
        } 
        var columnList = [
         { label: 'קוד יחידה', value: 'UnitId', checked: false },
         { label: 'כתובת', value: 'Address', checked: false },
         { label: 'עיר', value: 'City', checked: false },
         { label: 'סוג', value: 'PropertyTypeName', checked: false },
         //{ label: 'מחיר', value: 'Price', checked: true },
         //{ label: 'מאוכלס', value: 'Populate', checked: true },
         { label: 'בעלים', value: 'OwnerName', checked: true }
        ];
        var dateList = [
         { label: 'מועד עדכון', value: 'LastUpdate', checked: false }
        ];

    </script>
}


@section featured {


}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Buildings</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>

<div class="clear"></div>

<div class="global">
    <div class="container">

        <div class="grid-wrap rtl">
            
             <div style="display: inline; text-align: right; font-size: 18px; direction: rtl;">
                <h3 id="hTitle">רשימת יחידות</h3>
            </div>
            <div id="grid-toolbar" class="grid-toolbar"></div>
            <div id="jqxWidget">
                <div id="jqxgrid" style="position:relative;z-index:1;"></div>
                <div style="margin-top: 30px;">
                    <div id="cellbegineditevent"></div>
                    <div style="margin-top: 10px;" id="cellendeditevent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app_menu.activeLayoutMenu("liBuilding");
</script>
