@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Building";

    int id = Nistec.Types.ToInt(Request.QueryString["id"]);
    
}
@section head {

    @Scripts.Render("~/bundles/jqx")
   <link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />

   @*<script type="text/javascript" src="~/jqwidgets/jqxfileupload.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>*@

    

  <script type="text/javascript" src="~/Scripts/plagins/blockUI.js"></script>
   @*<script type="text/javascript" src="~/Scripts/jq/jquery.ui.1.11.1.js"></script>
    <link rel="stylesheet" href="~/Scripts/jq/css/jquery-ui.css" type="text/css" />*@

    @*<style type="text/css">
        .styledTable {
            direction:rtl; text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;padding-left:20px;text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;text-align:right;
        }
        .styledRowKey {padding-left:20px;text-align:right;
        }
        .styledRowValue {text-align:right;
        }
        .row_link {
            margin: 10px;
            direction: rtl;
            font-size: 16px;
        }
        .tab_link {
             margin-top:0;
             padding-top:0;
             top:-20px;
             vertical-align:text-top;
        }
        .mandatory {
        color:red;
        }
    </style>*@
}

@section scripts {
    <script type="text/javascript">

    var allowEdit = 0;

    $(document).ready(function () {
        JSON.useDateParser();

        //control buttons
        $("#archive").hide();

        

        var classAdapter = app_jqx.createComboAdapter("GetBuildingClass", "ClassName", "ClassType", '@Url.Action("GetBuildingClasses", "Building")', 0, 200, false);

        var ownerAdapter = app_jqx.createComboAdapter("AccountId", "AccountName", "BuildingOwnerId", '@Url.Action("GetOwnerView", "Building")', 0, 200, false);

        var managementAdapter = app_jqx.createComboAdapter("AccountId", "AccountName", "ManagementCompany", '@Url.Action("GetManagementView", "Building")', 0, 200, false);

        var airAdapter = app_jqx.createComboAdapter("AirConditionId", "AirConditionName", "AirConditionType", '@Url.Action("GetAirConditionView", "Building")', 155, 0, false);

        var parkAdapter = app_jqx.createComboAdapter("ParkId", "ParkName", "ParkingType", '@Url.Action("GetParkingTypeView", "Building")', 155, 0, false);

        var areaAdapter = app_jqx.createComboAdapter("AreaId", "AreaName", "AreaId", '@Url.Action("GetAreaViewAll", "Building")', 0, 200, false);

        var purposeSource =
       {
           dataType: "json",
           async: false,
           dataFields: [
               { name: 'PurposeId' },
               { name: 'PurposeName' }
           ],
           type: 'POST',
           url: '@Url.Action("GetPurposeView", "Building")'
       };
        var purposeAdapter = new $.jqx.dataAdapter(purposeSource);
        $("#PurposeList").jqxListBox(
        {
            rtl: true,
            source: purposeAdapter,
            width: 240,
            height: 160,
            checkboxes: true,
            displayMember: 'PurposeName',
            valueMember: 'PurposeId'
        });


        var srcManagementCompany = 0;
        var srcManagementContact;
        var srcPurposeType;
        var srcAirConditionType;
        var srcBuildingOwnerId;
        var srcAreaId;
        var srcBuildingId;

        $(".calc").hide();
        $("#divImages").hide();
        $("#showInvestment").hide();


        ///////////////////////////

        var contactSource =
           {
               dataType: "json",
               async: false,
               dataFields: [
                   { name: 'ContactId' },
                   { name: 'AccountId' },
                   { name: 'ContactName' }
               ],
               data: { 'role': 1 },
               type: 'POST',
               url: '@Url.Action("GetContactByRole", "Building")'
           };

        var contactAdapter = new $.jqx.dataAdapter(contactSource);
        // perform Data Binding.
        //contactAdapter.dataBind();

        $("#ManagementContact").jqxComboBox(
        {
            rtl: true,
            source: contactAdapter,
            width: 240,
            dropDownHeight: 200,
            autoDropDownHeight: false,
            displayMember: 'ContactName',
            valueMember: 'ContactId'
        });



        //JSON.useDateParser();
        var theme = 'Arctic';
        // prepare the data
        var source =
        {
            datatype: "json",
            data: { 'id': '@id' },
            id: 'BuildingId',
            type: 'POST',
            url: '@Url.Action("GetBuilding", "Building")'

        };
        //source.data = { 'id': '@id' };

            $("#BuildingPopulateTime").jqxDateTimeInput({ formatString: 'dd/MM/yyyy' });
            $("#divImages").css('display', 'none');



          var loadPic = function (tag, value) {
              if (value) {
                  var img = $('<img height="60" src="' + value + '"/>');
                  $("#" + tag).html(img);
              }
          };

          var dataAdapter = new $.jqx.dataAdapter(source, {
              beforeLoadComplete: function (records) {
                  setTimeout(function () {
                      return records;
                  }, 2000);
              },
              loadComplete: function (record) {

                  // get data records.
                  //var length = records.length;
                  //var record = records[i];
                  loadDataForm("form", record);


                  srcManagementCompany = record.ManagementCompany;
                  srcManagementContact = record.ManagementContact;
                  srcPurposeType = record.PurposeType;
                  srcAirConditionType = record.AirConditionType;
                  srcBuildingOwnerId = record.BuildingOwnerId;
                  srcAreaId = record.AreaId;
                  srcBuildingId = record.BuildingId;

                  //onSizeChanged();

                  //var sumSize=record.BuildingSizeTrade+record.BuildingSizeOffice+record.BuildingBasementSize;
                  //var sumSizeUp=record.BuildingSizeTrade+record.BuildingSizeOffice;
                  //$('#BuildingSizeTotal').val(sumSize);
                  //$('#BuildingSizeNoParks').val(sumSizeUp);

                  /*
                  selectComboBoxValue("ManagementCompany", record.ManagementCompany);
                  selectComboBoxValue("ManagementContact", record.ManagementContact);
                  selectComboBoxValue("AirConditionType", record.AirConditionType);
                  selectComboBoxValue("BuildingOwnerId", record.BuildingOwnerId);
                  selectComboBoxValue("AreaId", record.AreaId);
                  */
                  selectCheckList("PurposeList", record.PurposeType);
                  contactAdapter.dataBind();

                  //loadPic("PicPath", record.PicPath);

                  //$("#addOwner").css('display', srcBuildingOwnerId > 0 ? 'none' : 'inline');
                  //$("#addManagement").css('display', srcManagementCompany > 0 ? 'none' : 'inline');
                 
                  
                 
                  if (srcBuildingId > 0) {
                      $("#divImages").show();
                      if (record.Investment)
                          $("#showInvestment").show();
                      $("#hBuildingName").text("הגדרת בניין - " + record.BuildingName);
                      var floorGridLink = $('<br/><a class="tab_link" href="FloorGrid?id=' + record.BuildingId + '">פירוט קומות</a>');
                      $("#floorLink").append(floorGridLink);
                      $(".calc").show();
                      if (record.FloorDefined==0) {
                          if ('@ViewBag.UserRole' == 9) {
                              var link = wizardLink(srcBuildingId);
                              $('#wizard').append(link);
                          }
                      }
                  }
                  if (record.ActiveState == 1) {
                      allowEdit = ('@ViewBag.UserRole' == 9) ? 1 : 0;
                  }
                  else {
                      allowEdit = 1;
                  }

                  if (allowEdit == 0) {
                      $("#submit").hide();
                      $("#reset").hide();
                      $("#archive").hide();
                      $("#editOwner").hide();
                      $("#editManagement").hide();
                      $("#editContact").hide();
                      $("#isSendMailSpan").hide();
                      
                  }
                  else
                  {
                      $("#archive").show();
                  }

                  appendIframe("PricesGrid", "/Building/_PricesGrid?id=" + '@id', "400", "180", true);

                  @*@Ajax.ActionLink("load partial view", "/Building/_PricesGrid?id=1", new AjaxOptions { UpdateTargetId = "PricesGrid" })*@


                  //$("#PicPath").val(record.PicPath);
                  //$("#BuildingInternetEnable").val(record.BuildingInternetEnable);

              },
              loadError: function (jqXHR, status, error) {
              },
          });
          // perform data binding.
          dataAdapter.dataBind();

          //var onSizeChanged = function () {
          //   var v1= parseInt($('#BuildingSizeTrade').val(), 0);
          //   var v2 = parseInt($('#BuildingSizeOffice').val(), 0);
          //   var v3 = parseInt($('#BuildingBasementSize').val(), 0);
          //   $('#BuildingSizeTotal').val(v1+v2+v3);
          //   $('#BuildingSizeNoParks').val(v1 + v2);
          //};

          //$('#BuildingSizeTrade').on('input propertychange paste', function() {
          //    onSizeChanged();
          //});
          //$('#BuildingSizeOffice').on('input propertychange paste', function() {
          //    onSizeChanged();
          //});
          //$('#BuildingBasementSize').on('input propertychange paste', function() {
          //    onSizeChanged();
          //});
        $('#btnImages').click(function (e) {
            e.preventDefault();
            mediaEditor(srcBuildingId, 0, "b");
        });

        $('#queryOwner').click(function (e) {
            e.preventDefault();
            app_popup.ownerGrid();
        });
          $('#showOwner').click(function (e) {
              e.preventDefault();
              var val = getSelectedComboValue("BuildingOwnerId", 0);
              if (val != 0)
                  accountDisplay(val, "בעלים");
          });

          $('#refreshOwner').click(function () {
              ownerAdapter.dataBind();
              selectComboBoxValue("BuildingOwnerId", srcBuildingOwnerId);
          });

          $('#editOwner').click(function (e) {
              e.preventDefault();
              var val = getSelectedComboValue("BuildingOwnerId", 0);
              accountEdit(val, 2);
          });

          $('#showManagement').click(function (e) {
              e.preventDefault();
              var val = getSelectedComboValue("ManagementCompany", 0);
              if (val != 0)
                  accountDisplay(val, "חברת ניהול");
          });
          $('#refreshManagement').click(function () {
              managementAdapter.dataBind();
              selectComboBoxValue("ManagementCompany", srcManagementCompany);
          });

          $('#editManagement').click(function (e) {
              e.preventDefault();
              var val = getSelectedComboValue("ManagementCompany", 0);
              accountEdit(val, 6);
          });

          $('#showContact').click(function (e) {
              e.preventDefault();
              var val = getSelectedComboValue("ManagementContact", 0);
              if (val != 0)
                  contactDisplay(val, "אנשי קשר");
          });
          $('#refreshContact').click(function () {
              managementAdapter.dataBind();
              selectComboBoxValue("ManagementContact", srcManagementContact);
          });

          $('#editContact').click(function (e) {
              e.preventDefault();
               var val = getSelectedComboValue("ManagementContact", 0);
              contactEdit(val, 0, 1);//"buildingcontact")// srcManagementCompany);
          });

          //$('#showSteward').click(function (e) {
          //    e.preventDefault();
          //    var val = $("#BuildingSteward").val();
          //    if ($.isNumeric(val) && val != 0)
          //        contactDisplay(val, "אב הבית");
          //});

          //$('#editSteward').click(function (e) {
          //    e.preventDefault();
          //    var val = $("#BuildingSteward").val();
          //    //var bid = $("#Buildingid").val();
          //    contactEdit(val, 0, 'steward');
          //});
          $('#showInvestment').click(function (e) {
              e.preventDefault();
              doInvestmentEdit();
              return false;
          });

          $("#Investment").change(function() {
              if(this.checked) {
                  doInvestmentEdit();
              }
          });

          var doInvestmentEdit = function () {
              var val = $("#BuildingId").val();
              if (val != 0)
                  investmentEdit(0, val, 0);
              return false;
          };

        //initialize validator.
        $('#form').jqxValidator({
            rtl: true,
            hintType: 'label',
            animationDuration: 0,
            rules: [
                   { input: '#BuildingName', message: 'חובה לציין שם בניין!', action: 'keyup, blur', rule: 'required' },
                   {
                       input: '#AreaId', message: 'חובה לציין אזור!', action: 'select', rule: function (input) {
                           var index = $("#AreaId").jqxComboBox('getSelectedIndex');
                           if (index >= 0) { return true; } return false;
                       }
                   },
                   {
                       input: '#PurposeList', message: 'חובה לציין סוג נכס!', action: 'select', rule: function (input) {
                           var items = $("#PurposeList").jqxListBox('getCheckedItems');
                           //var index = $("#PurposeType").jqxListBox('getSelectedIndex');
                           if (items && items.length > 0)
                               return true;
                           return false;
                           //if (index >= 0) { return true; } return false;
                       }
                   },
                   {
                       input: '#BuildingOwnerId', message: 'חובה לציין בעלים עיקריים!', action: 'select', rule: function (input) {
                           var index = $("#BuildingOwnerId").jqxComboBox('getSelectedIndex');
                           if (index >= 0) { return true; } return false;
                       }
                   },
                  { input: '#Street', message: 'חובה לציין רחוב!', action: 'keyup, blur', rule: 'required' },
                  //{
                  //    input: '#StreetNo', message: 'חובה לציין מספר בית!', action: 'keyup, blur', rule: function () {
                  //        var value = $("#StreetNo").val();
                  //        return value > 0;
                  //    }
                  //},
                  { input: '#StreetNo', message: 'חובה לציין מספר בית!', action: 'keyup, blur', rule: 'required' },
                  { input: '#City', message: 'חובה לציין עיר!', action: 'keyup, blur', rule: 'required' }
                  //{ input: '#BuildingAdminMail', message: 'אימייל מנהל בניין לא תקין!', action: 'keyup', rule: 'email' },
                  //{
                  //    input: '#BuildingAdminPhone', message: 'טלפון נייד מנהל בניין אינו תקין!', action: 'valuechanged, blur', rule:
                  //              function (input, commit) {
                  //                  var val = input.val();
                  //                  var re = /^(|\()(0|972)(\d{1}|\d{2})(|[\)\/\.-])([0-9]{7})$/
                  //                  return val ? re.test(val) : true;
                  //              }
                  //},
                  //{ input: '#BuildingAdmin2Mail', message: 'אימייל מנהל בניין 2 לא תקין!', action: 'keyup', rule: 'email' },
                  //{
                  //    input: '#BuildingAdmin2Phone', message: 'טלפון נייד מנהל בניין 2 אינו תקין!', action: 'valuechanged, blur', rule:
                  //              function (input, commit) {
                  //                      var val = input.val();
                  //                      var re = /^(|\()(0|972)(\d{1}|\d{2})(|[\)\/\.-])([0-9]{7})$/
                  //                      return val ? re.test(val) : true;
                  //              }
                  //}
            ]
        });
        $("form").submit(function (e) {

            e.preventDefault();
            var actionurl = $('#form').attr('action');
            renderCheckList("PurposeList", "PurposeType");
            var validationResult = function (isValid) {
                if (isValid) {
                    //$.blockUI({ timeout: 4000 });
                    //$("#form-iframe").load(function () {
                    //    $.unblockUI();
                    //    $("#form-next").html('<a href="Home/Main">המשך</a>')
                    //});
                    //========================================

                    $.ajax({
                        url: actionurl,
                        type: 'post',
                        dataType: 'json',
                        data: $('#form').serialize(),
                        success: function (data) {
                            
                            if (data.Status >= 0) {
                                //window.parent.triggerBuildingComplete(data.OutputId);
                                //$('#form')[0].reset();
                                $('#BuildingId').val(data.OutputId);
                                redirectToFinal("building-ok");
                            }
                            else
                                alert(data.Message);
                        },
                        error: function (jqXHR, status, error) {
                            alert(error);
                        }
                    });

                }
            }
            // Validate the Form.
            $('#form').jqxValidator('validate', validationResult);

        });
        // validate form.
        //$("#submit").click(function () {
        //    var validationResult = function (isValid) {
        //        if (isValid) {
        //            alert('submit');
        //            // Submit the Form.
        //            //$("#form").submit();
        //            $('form').triggerHandler('submit')
        //        }
        //    }
        //    // Validate the Form.
        //    $('#form').jqxValidator('validate', validationResult);
        //});
        $("#form").on('validationSuccess', function () {
            //alert('validationSuccess');
            // Display the Server's Response which came as result of the Form Submit.
            $("#form-iframe").fadeIn('fast');
        });

        $('#reset').on('click', function () {
            $("#form-iframe").html('').fadeOut('fast');
            $("#form-next").html('')
            location.reload();
        });

        $('#archive').on('click', function () {
            var id = $('#BuildingId').val();
            if (confirm("פעולה זו תעביר את הבניין לארכיון , האם להמשיך?") == false)
                return;
            $.ajax({
                url: '@Url.Action("DoArchive", "Building")',
                type: 'post',
                dataType: 'json',
                data: { 'BuildingId': id },
                success: function (data) {
                    if (data.Status >= 0) {
                        $('#BindingId').val(data.OutputId);
                        redirectToFinal("building-ok");
                    }
                    else
                        alert(data.Message);
                },
                error: function (jqXHR, status, error) {
                    alert(error);
                }
            });
        });

        //$('#jqxTabs').on('selecting', function (event) {
        //    var selectedTab = event.args.item;
        //    $('#jqxValidator').jqxValidator('validate', "BuildingName");
        //    event.cancel = true;
        //});

    });

        function triggerAccComplete(accType, accId) {
            if (accType == 2) {
                $("#BuildingOwnerId").jqxComboBox("source").dataBind();
                if (accId)
                    $("#BuildingOwnerId").val(accId);
            }
            else if (accType == 6) {
                $("#ManagementCompany").jqxComboBox("source").dataBind();
                if (accId)
                    $("#ManagementCompany").val(accId);
            }
            dialogIframClose();
        }
        function triggerContactComplete(contactId, op) {

            $("#ManagementContact").jqxComboBox("source").dataBind();
            //if (op == 'buildingcontact')

            $("#ManagementContact").val(contactId);
            dialogIframClose();
        }

        function triggerInvestmentComplete(id, bid, uid) {
            dialogIframClose();
        }
</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Buildings</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>

@*<hgroup class="title">
    <h3 id="hBuildingName" class="rightPan">הגדרת בניין</h3>
</hgroup>*@
<div class="clear"></div>

<div class="global-view">
    <div id="wizard" class="row_link"></div>
    <div class="container">
        <div class="rtl">
            <h3 id="hBuildingName">הגדרת בניין</h3>
            <ul class="nav nav-tabs" id="tab-building">
                <li><a id="linkA" data-toggle="tab" href="#sectionA">כללי</a></li>
                <li><a id="linkB" data-toggle="tab" href="#sectionB">נתונים כללים</a></li>
                <li><a id="linkC" data-toggle="tab" href="#sectionC">חניות</a></li>
                <li><a id="linkD" data-toggle="tab" href="#sectionD">ניהול</a></li>
                <li><a id="linkE" data-toggle="tab" href="#sectionE">מחירים</a></li>
                <li><a id="linkF" data-toggle="tab" href="#sectionF">הערות</a></li>
                <li id="floorLink"></li>
            </ul>

        </div>
        <div style="height: 10px;">
        </div>
        <div>
            @*@using (Html.BeginForm("UpdateBuilding", "Building", null, FormMethod.Post, new { id = "form", Class = "form" }))
            {
                *@<!--Html.AntiForgeryToken(), target = "form-iframe"
                                Html.ValidationSummary(true)
                      action="/Building/UpdateBuilding" target = "form-iframe"
                      method="post" action="/Building/UpdateBuilding"
                                    -->

            <form class="form" id="form" method="post" action="/Building/UpdateBuilding">
                <input type="hidden" id="PurposeType" name="PurposeType" />
                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <h4>כללי</h4>
                        <div>
                            <div class="form-group">
                                <label class="column">
                                    קוד בניין:
                                </label>
                                <input id="BuildingId" type="number" name="BuildingId" class="number" readonly="true" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                     שם בניין<span class="mandatory">(*)</span>:
                                </label>
                                <input id="BuildingName" type="text" name="BuildingName" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    השקעה:
                                </label>
                                <a id="showInvestment" href="#">הצג</a>
                                <input id="Investment" name="Investment" type="checkbox" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                      סוג הנכס/שימוש<span class="mandatory">(*)</span>:
                                </label>
                                <div id="PurposeList" name="PurposeList" style="padding: 10px" data-type="checklist">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    שם האזור<span class="mandatory">(*)</span>:
                                </label>
                                <div id="AreaId" name="AreaId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    רחוב<span class="mandatory">(*)</span>:
                                </label>
                                <input id="Street" name="Street" type="text" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מס' בית<span class="mandatory">(*)</span>:
                                </label>
                                <input id="StreetNo" name="StreetNo" maxlength="10" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    עיר<span class="mandatory">(*)</span>:
                                </label>
                                <input id="City" name="City" type="text" class="text" placeholder="עיר" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מיקוד:
                                </label>
                                <input id="ZipCode" name="ZipCode" type="text" class="number" placeholder="00000" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    בעלים עיקריים<span class="mandatory">(*)</span>:
                                </label>
                                <a id="showOwner" href="#">הצג</a>|
                                <a id="refreshOwner" href="#">רענן</a>|
                                <a id="queryOwner" href="#">איתור</a>|
                                <a id="editOwner" href="#">עריכה</a>
                                <div id="BuildingOwnerId" name="BuildingOwnerId">
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="submit" type="submit" value="עדכון" class="btn-default btn2" />
                            <input id="reset" type="reset" value="רענון" class="btn-default btn2" />
                            <input id="archive" type="button" value="מחיקה" class="btn-default btn2" />
                            <span id="isSendMailSpan"><input id="MailOnChanges" name="MailOnChanges" type="checkbox" />&nbsp;<span>האם לשלוח עדכון</span></span>
                        </div>
                    </div>
                    <div id="sectionB" class="tab-pane fade in">
                        <h4>נתונים כללים</h4>
                        <div>
                                <div class="form-group calc">
                                    <label class="column">
                                        שטח למסחר:
                                    </label>
                                    <input id="SizeTrade" name="SizeTrade" readonly="readonly" type="number" class="number" />
                                </div>
                            <div class="form-group calc">
                                <label class="column">
                                    שטח למשרדים:
                                </label>
                                <input id="SizeOffice" name="SizeOffice" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    שטח לתעשיה:
                                </label>
                                <input id="SizeIndustry" name="SizeIndustry" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    שטח למגורים:
                                </label>
                                <input id="SizeResidence" name="SizeResidence" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    שטח מחסנים:
                                </label>
                                <input id="SizeWarehouse" name="SizeWarehouse" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    שטח חניה:
                                </label>
                                <input id="SizeParking" name="SizeParking" readonly="readonly" type="number" class="number" />
                            </div>
                           <div class="form-group calc">
                                <label class="column">
                                    סה"כ שטח מעל הקרקע:
                                </label>
                                <input id="SizeFloorUp" name="SizeFloorUp" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    סה"כ שטח:
                                </label>
                                <input id="SizeTotal" name="SizeTotal" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    מס' קומות מעל הקרקע:
                                </label>
                                <input id="FloorNoUp" name="FloorNoUp" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group calc">
                                <label class="column">
                                    מס' קומות מתחת לקרקע:
                                </label>
                                <input id="FloorNoDown" name="FloorNoDown" readonly="readonly" type="number" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    עומס מותר ק"ק:
                                </label>
                                <input id="OverloadGround" name="OverloadGround" type="number" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    עומס מותר קומות:
                                </label>
                                <input id="OverloadUp" name="OverloadUp" type="number" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    סוג מיזוג:
                                </label>
                                <div id="AirConditionType" name="AirConditionType" class="inlineCombo"></div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מספר מעליות:
                                </label>
                                <input id="ElevatorNo" name="ElevatorNo" type="number" class="number" />
                            </div>
                            @*<div class="form-group">
                                <label class="column">
                                    גודל מרתפים:
                                </label>
                                <input id="BuildingBasementSize" name="BuildingBasementSize" type="number" />
                            </div>*@
                            <div class="form-group">
                                <label class="column">
                                    שומר בכניסה:
                                </label>
                                <input id="SecurityCompany" name="SecurityCompany" type="checkbox"/>
                            </div>
                        </div>
                    </div>
                    <div id="sectionC" class="tab-pane fade in">
                        <h4>חניות</h4>
                        <div>
                            <div class="form-group">
                                <label class="column">
                                    מקומות חניה:
                                </label>
                                <input id="ParkingNo" name="ParkingNo" type="number" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    סוג חניון:
                                </label>
                                <div id="ParkingType" name="ParkingType" class="inlineCombo"></div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מחיר חנייה:
                                </label>
                                <input id="ParkingPrice" name="ParkingPrice" type="number" class="number" />
                            </div>
                        </div>
                    </div>
                    <div id="sectionD" class="tab-pane fade in">
                        <h4>ניהול</h4>
                        <div>

                            <div class="form-group">
                                <label class="column">
                                    שם חברת ניהול:
                                </label>
                                <a id="showManagement" href="#">הצג</a>|
                                <a id="refreshManagement" href="#">רענן</a>|
                                <a id="editManagement" href="#">עריכה</a>
                                <div id="ManagementCompany" name="ManagementCompany">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="column">
                                    מנהל בניין:
                                </label>
                                <a id="showContact" href="#">הצג</a>|
                                <a id="refreshContact" href="#">רענן</a>|
                                <a id="editContact" href="#">עריכה</a>
                                <div id="ManagementContact" name="ManagementContact">
                                </div>
                            </div>
                           </div>
                    </div>
                    <div id="sectionE" class="tab-pane fade in">
                        <h4>מחירים</h4>
                        <div>
                            <div id="PricesGrid"></div>

                            <div class="form-group">
                                <label class="column">
                                    דמי אחזקה למ"ר:
                                </label>
                                <input id="ManagementFees" name="ManagementFees" type="number" step="any" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    יחס נטו ברוטו:
                                </label>
                                <input id="BuildingGrossNet" name="BuildingGrossNet" type="number" step="any" class="number" />
                            </div>
                        </div>
                    </div>
                    <div id="sectionF" class="tab-pane fade in">
                        <h4>מידע כללי</h4>
                        <div>
                            <div class="form-group">
                                <label class="column">
                                    סוג בניין:
                                </label>
                                <div id="BuildingClass" name="BuildingClass">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מועד אכלוס:
                                </label>
                                <div id="BuildingPopulateTime" name="BuildingPopulateTime"></div>
                            </div>
                            <div id="divImages" class="form-group">
                                <label class="column">
                                    תמונות:
                                </label>
                                <input id="btnImages" type="button" value="הצג תמונות" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="column">
                                    מועד עדכון:
                                </label>
                                <input id="LastUpdate" name="LastUpdate" readonly="true" type="text" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    הערות:
                                </label>
                                <textarea id="Memo" name="Memo" class="textarea-mid"></textarea>
                            </div>
                         </div>
                    </div>
                    <span dir="rtl" class="mandatory">שדות חובה(*)</span>
                </div>
            </form>
            @*}*@
            <div style="text-align: center">
                
                <iframe id="form-iframe" name="form-iframe" style="width: 400px; height: 160px; text-align: right" frameborder="0"></iframe>
                <div id="form-next" style="font-size:18px"></div>
            </div>

        </div>
    </div>
</div>
<!--end of content-wrapper-->
<script type="text/javascript">
    activeLayoutMenu("liBuilding");
</script>
