@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Building";
}
@section head {

@Scripts.Render("~/bundles/jqx")
<script src="~/Scripts/plagins/tabs/jcxtabs.min.js"></script>
<link href="~/Scripts/plagins/tabs/jcxtabs-light.css" rel="stylesheet" />  
<script type="text/javascript" src="~/Scripts/app/model/building-def.js?ver=2018004"></script>
<script type="text/javascript" src="~/Scripts/app/model/address_model.js"></script>
    <style type="text/css">
         .purposeRow {
            display: inline;
            text-align: right;
            direction: rtl;
        }
        .purpose_num{
            width:80px;
        }
        #icon{
background-image:url(../images/icons/dollar.png); 
background-repeat: no-repeat; 
background-position: 2px 3px;
}
    </style>
}

@section scripts {
    <script type="text/javascript">

        var allowEdit = 0;
        var buildingdef;

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';

        $("#showInvestment").hide();

        buildingdef = new app_building_def(0, parseInt('@ViewBag.UserRole'), false);
          
        $("form").submit(function (e) {

            e.preventDefault();
            buildingdef.doSubmitNew();
        });

        $('#tab-building').on('click', function (e) {
            //e.preventDefault();
            buildingdef.validateTabs();
        });

    });

        //function triggerAccComplete(accType, accId) {
        //    if (accType == 2) {
        //        $("#BuildingOwnerId").jqxComboBox("source").dataBind();
        //        if (accId)
        //            $("#BuildingOwnerId").val(accId);
        //    }
        //    else if (accType == 6) {
        //        $("#ManagementCompany").jqxComboBox("source").dataBind();
        //        if (accId)
        //            $("#ManagementCompany").val(accId);
        //    }
        //    app_dialog.dialogIframClose();
        //}
        //function triggerContactComplete(contactId, op) {

        //    $("#ManagementContact").jqxComboBox("source").dataBind();
        //    //if (op == 'buildingcontact')

        //    $("#ManagementContact").val(contactId);
        //    app_dialog.dialogIframClose();
        //}

        //function triggerInvestmentComplete(id, bid, uid) {
        //    app_dialog.dialogIframClose();
        //}
</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Buildings</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>


<div class="clear"></div>

<div class="global-view">
    
    <div id="wizard" class="row_link"></div>
    <div class="container-box">
        <div class="box-title">
            <h3 id="hBuildingName">רישום בניין חדש</h3>
        </div>

        <form class="form" id="form" method="post" action="/Building/UpdateBuildingNew">
            <input type="hidden" id="PurposeType" name="PurposeType" />
            <div id="accordion" class="jcx-tabs rtl">

                <ul class="jcx-tabs-nav" id="tab-building">
                    <li class="active"><a id="linkA" class="tabBox" data-toggle="tab" href="#sectionA">כללי</a></li>
                    <li><a id="linkB" class="tabBox" data-toggle="tab" href="#sectionB">נתונים כללים</a></li>
                    <li><a id="linkC" class="tabBox" data-toggle="tab" href="#sectionC">חניות</a></li>
                    <li><a id="linkD" class="tabBox" data-toggle="tab" href="#sectionD">ניהול</a></li>
                    <li><a id="linkE" class="tabBox" data-toggle="tab" href="#sectionE">מחירים</a></li>
                    <li><a id="linkF" class="tabBox" data-toggle="tab" href="#sectionF">הערות</a></li>
                    <li id="floorLink"></li>
                </ul>
                <div id="sectionA" class="jcxtab-panel active">
                    <div class="panel-area">
                        <h4 class="panel-area-title">כללי</h4>
                        <div class="form-group" style="display:none">
                            <label class="column">
                                קוד בניין: <input id="BuildingId" type="number" name="BuildingId" class="number label" readonly="true" />
                            </label>

                        </div>
                        <div class="form-group">
                            <label class="column">
                                שם בניין<span class="mandatory">(*)</span>:
                            </label>
                            <input id="BuildingName" type="text" name="BuildingName" class="text" />
                        </div>
                        <div style="display:none" class="form-group">
                            <label class="column">
                                השקעה:
                            </label>
                            <a id="showInvestment" href="#">הצג</a>
                            <input id="Investment" name="Investment" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                סוג הנכס/שימוש<span class="mandatory">(*)</span>:
                            </label>
                            <div style="border: 1px solid #808080; max-width: 300px; padding: 10px">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>סוג שימוש</th>
                                            <th></th>
                                            <th>מספר קומות לשימוש</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><input id="Purp2" name="Purp2" type="checkbox" /></td>
                                        <td><span>משרדים:</span></td>
                                        <td><input id="PurpFloor2" type="number" name="PurpFloor2" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td><input id="Purp3" name="Purp3" type="checkbox" /></td>
                                        <td><span>תעשיה:</span></td>
                                        <td><input id="PurpFloor3" type="number" name="PurpFloor3" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td><input id="Purp4" name="Purp4" type="checkbox" /></td>
                                        <td><span>מסחר:</span></td>
                                        <td><input id="PurpFloor4" type="number" name="PurpFloor4" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td><input id="Purp5" name="Purp5" type="checkbox" /></td>
                                        <td><span>מחסנים:</span></td>
                                        <td><input id="PurpFloor5" type="number" name="PurpFloor5" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td><input id="Purp6" name="Purp6" type="checkbox" /></td>
                                        <td><span>מגורים:</span></td>
                                        <td><input id="PurpFloor6" type="number" name="PurpFloor6" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td><input id="Purp7" name="Purp7" type="checkbox" /></td>
                                        <td><span>חניה:</span></td>
                                        <td><input id="PurpFloor7" type="number" name="PurpFloor7" class="purpose_num" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="border:1px solid #808080; max-width:300px; padding:10px">
                                <table>
                                    <tr>
                                        <td>מספר קומות מעל הקרקע<span class="mandatory">(*)</span>:</td>
                                        <td><input id="FloorsUp" type="number" name="FloorsUp" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td>שטח קומה טיפוסית<span class="mandatory">(*)</span>:</td>
                                        <td><input id="FloorSize" type="number" name="FloorSize" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td>סה"כ שטח מעל הקרקע<span class="mandatory">(*)</span>:</td>
                                        <td><input id="FloorSizeUp" type="number" name="FloorSizeUp" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td> מספר קומות מתחת לקרקע:</td>
                                        <td><input id="FloorsDown" type="number" name="FloorsDown" class="purpose_num" /></td>
                                    </tr>
                                    <tr>
                                        <td>שטח קומה תת קרקעית:</td>
                                        <td><input id="FloorSizeDown" type="number" name="FloorSizeDown" class="purpose_num" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="column">
                                שם האזור<span class="mandatory">(*)</span>:
                            </label>
                            <div id="AreaId" name="AreaId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                עיר<span class="mandatory">(*)</span>:
                            </label>
                            <input type="text" id="CityCode" name="CityCode" /><i class="fa fa-search"></i>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                רחוב<span class="mandatory">(*)</span>:
                            </label>
                            <input type="text" id="StreetId" name="StreetId" /><i class="fa fa-search"></i>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                מס' בית<span class="mandatory">(*)</span>:
                            </label>
                            <input id="StreetNo" name="StreetNo" type="text" maxlength="10" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                מיקוד:
                            </label>
                            <input id="ZipCode" name="ZipCode" type="text" class="number" placeholder="00000" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                בעלים עיקריים<span class="mandatory">(*)</span>:
                                <a id="showOwner" href="#">הצג</a>|
                                <a id="refreshOwner" href="#">רענן</a>|
                                <a id="queryOwner" href="#">איתור</a>|
                                <a id="editOwner" href="#">עריכה</a>
                            </label>
                            <input type="text" id="BuildingOwnerId" name="BuildingOwnerId" /><i class="fa fa-search"></i>
                            <div id="Owner-window" class="panel-window"></div>
                        </div>
                    </div>
                </div>
                <div id="sectionB" class="jcxtab-panel">
                    <div class="panel-area">
                        <h4 class="panel-area-title">נתונים כללים</h4>
                        <div class="form-group">
                            <label class="column">
                                עומס מותר ק"ק:
                            </label>
                            <input id="OverloadGround" name="OverloadGround" type="number" class="number" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                עומס מותר קומות:
                            </label>
                            <input id="OverloadUp" name="OverloadUp" type="number" class="number" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                סוג מיזוג:
                            </label>
                            <select id="AirConditionType" name="AirConditionType"></select>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                מספר מעליות:
                            </label>
                            <input id="ElevatorNo" name="ElevatorNo" type="number" class="number" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                שומר בכניסה:
                            </label>
                            <input id="SecurityCompany" name="SecurityCompany" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div id="sectionC" class="jcxtab-panel">
                    <div class="panel-area">
                        <h4 class="panel-area-title">חניון</h4>
                        <div class="form-group">
                            <label class="column">
                                מקומות חניה:
                            </label>
                            <input id="ParkingNo" name="ParkingNo" type="number" class="number" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                סוג חניון:
                            </label>
                            <select id="ParkingType" name="ParkingType"></select>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                מחיר חנייה:
                            </label>
                            <input id="ParkingPrice" name="ParkingPrice" type="number" class="number" />
                        </div>
                    </div>
                </div>
                <div id="sectionD" class="jcxtab-panel">
                    <div class="panel-area">
                        <h4 class="panel-area-title">מנהל</h4>

                        <div class="form-group">
                            <label class="column">
                                שם חברת ניהול:
                                <a id="showManagement" href="#">הצג</a>|
                                <a id="refreshManagement" href="#">רענן</a>|
                                <a id="editManagement" href="#">עריכה</a>
                            </label>
                            <input type="text" id="ManagementCompany" name="ManagementCompany" /><i class="fa fa-search"></i>
                        </div>

                        <div class="form-group">
                            <label class="column">
                                מנהל בניין:
                                <a id="showContact" href="#">הצג</a>|
                                <a id="refreshContact" href="#">רענן</a>|
                                <a id="editContact" href="#">עריכה</a>
                            </label>
                            <div id="ManagementContact" name="ManagementContact">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sectionE" class="jcxtab-panel">
                    <div class="panel-area">
                        <h4 class="panel-area-title">מחירים</h4>
                        <div class="form-group calc">
                            <label class="column">
                                מחיר מכירה למ"ר:
                            </label>
                            <input id="AvgPriceForSale" name="AvgPriceForSale" readonly="readonly" type="number" step="any" class="number" />
                        </div>
                        <div class="form-group calc">
                            <label class="column">
                                מחיר שכירות למ"ר:
                            </label>
                            <input id="AvgPriceForRent" name="AvgPriceForRent" readonly="readonly" type="number" step="any" class="number" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                דמי אחזקה למ"ר:
                            </label>
                            <input id="ManagementFees" name="ManagementFees" type="number" step="any" class="number" />
                        </div>
                        <div class="form-group">
                            <label class="column">
                                יחס נטו ברוטו:
                            </label>
                            <input id="BuildingGrossNet" name="BuildingGrossNet" type="number" step="any" class="number" />
                        </div>
                    </div>
                </div>
                <div id="sectionF" class="jcxtab-panel">
                    <div class="panel-area">
                        <h4 class="panel-area-title">מידע כללי</h4>
                        <div class="form-group">
                            <label class="column">
                                סוג בניין:
                            </label>
                            <select id="BuildingClass" name="BuildingClass">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                מועד אכלוס:
                            </label>
                            <div id="BuildingPopulateTime" name="BuildingPopulateTime"></div>
                        </div>
                        <div class="form-group">
                            <label class="column">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                הערות:
                            </label>
                            <textarea id="Memo" name="Memo" rows="3" cols="60"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="column">
                                מועד עדכון:
                            </label>
                            <input id="LastUpdate" name="LastUpdate" readonly="true" type="text" class="text noborder" />
                        </div>
                    </div>
                </div>
            </div>
            <div dir="rtl" class="mandatory">שדות חובה(*)</div>
            <div class="panel-area rtl">
                <input id="submit" type="submit" value="עדכון" class="btn-default btn2" />
                <input id="reset" type="reset" value="רענון" class="btn-default btn2" />
            </div>

        </form>
            
            <div style="text-align: center">
                
                <iframe id="form-iframe" name="form-iframe" style="width: 400px; height: 160px; text-align: right" frameborder="0"></iframe>
                <div id="form-next" style="font-size:18px"></div>
            </div>

        </div>
    </div>
</div>
<!--end of content-wrapper-->
<script type="text/javascript">
    app_menu.activeLayoutMenu("liBuilding");
</script>

