@model Pro.Data.Entities.BuildingInfoView
@{
    Layout = "~/Views/Shared/_View.cshtml";
    ViewBag.Title = "Buildings";

   
}
@section head { 

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")

@*    <link rel="stylesheet" href="~/Scripts/jq/mobile/jquery.mobile-1.4.5.min.css" />
	<script src="~/Scripts/jq/mobile/jquery.mobile-1.4.5.min.js"></script>*@

    <style type="text/css">

        .row_detail {margin: 10px;direction:rtl;}
        .row_link {margin: 10px;direction:rtl;font-size:16px}

    </style>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            // First, checks if it isn't implemented yet.
            if (!String.prototype.format) {
                String.prototype.format = function () {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function (match, number) {
                        return typeof args[number] != 'undefined'
                          ? args[number]
                          : match
                        ;
                    });
                };
            }

            JSON.useDateParser();
            var theme = 'Arctic';

            // prepare the data
            var source =
            {
                //sort: customsortfunc,
                datatype: "json",
                datafields: [
                    { name: 'UnitId', type: 'number' },
                    { name: 'BuildingId', type: 'number' },
                    { name: 'BuildingName', type: 'string' },
                    //{ name: 'Street', type: 'string' },
                    //{ name: 'City', type: 'string' },
                    { name: 'FloorNum', type: 'number' },
                    { name: 'UnitNum', type: 'number' },
                    { name: 'UnitSize', type: 'number' },
                    { name: 'Price', type: 'number' },
                    { name: 'ContactName', type: 'string' },
                    { name: 'ContactPhone', type: 'string' },
                    { name: 'ContactMobile', type: 'string' },
                    { name: 'ContactMail', type: 'string' },
                    { name: 'Populate', type: 'bool' },
                    { name: 'UserName', type: 'string' },
                    { name: 'OwnerId', type: 'number' },
                    { name: 'OwnerName', type: 'string' },
                    { name: 'Memo', type: 'string' },
                    { name: 'LastUpdate', type: 'date' },
                    { name: 'PurposeId', type: 'number' },
                    { name: 'PurposeName', type: 'string' },
                    { name: 'DealId', type: 'number' },
                    { name: 'DealName', type: 'string' }
                    
                    

                    //{ name: 'Pic2', type: 'string' },
                    //{ name: 'Pic3', type: 'string' }
                ],
                id: 'UnitId',
                type:'POST',
                url: '@Url.Action("GetUnitGrid", "Building")',
                //pagenum: 3,
                pagesize: 20,
                root: 'Rows',
                beforeprocessing: function (data) {
                    source.totalrecords = data.TotalRows;
                },
                pager: function (pagenum, pagesize, oldpagenum) {
                    // callback called when a page or page size is changed.
                }
            };
            
            source.data = { 'BuildingId': '@Model.BuildingId' };

            var dataAdapter = new $.jqx.dataAdapter(source, {
                loadComplete: function (data) { }
                //loadError: function (xhr, status, error) { alert('error ' + error) }
            });
            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
                return '<div style="text-align:center"><a href="UnitDef?id=' + value + '&bid=@Model.BuildingId" >הצג</a></div>';
            };

           
            var initrowdetails = function (index, parentElement, gridElement, datarecord) {
                var tabsdiv = null;
                var information = null;
                var notes = null;
                var actions = null;
                tabsdiv = $($(parentElement).children()[0]);
                if (tabsdiv != null) {
                    information = tabsdiv.find('.information');
                    notes = tabsdiv.find('.notes');
                    actions = tabsdiv.find('.actions');

                    var title = tabsdiv.find('.title');
                    title.text(datarecord.BuildingName);

                    //info container
                    var container = $('<div style="margin: 5px;text-align:right;"></div>')
                    container.rtl = true;
                    container.appendTo($(information));
                    var leftcolumn = $('<div style="float: left; width: 45%;direction:rtl;"></div>');
                    var rightcolumn = $('<div style="float: right; width: 40%;direction:rtl;"></div>');
                    var photocolumn = $('<div style="float: left; width: 15%;"></div>');

                    container.append(photocolumn);
                    container.append(leftcolumn);
                    container.append(rightcolumn);

                    //var mediaLink = $('<a class="row_link" href="#popupMedia" data-rel="popup" data-position-to="window" data-role="button" data-theme="a" data-inline="true">תמונות</a>')
                    var mediaLink = $('<input type="button" value="תמנות"/>')
                   .on("click", function (e) {
                       e.preventDefault();
                       //dialogIframe("_Media?bid=" + datarecord.BuildingId + "&pid=" + datarecord.UnitId + "&pt=u", "900", "520", "מדיה");
                       app_popup.mediaEditor(datarecord.BuildingId, datarecord.UnitId, "u");
                   });
                    $(photocolumn).append(mediaLink);

                    var infosection = "<div class='row_detail'><b>{0}:</b>{1}</div>";

                    $(leftcolumn).append(infosection.format("מספר קומה", datarecord.FloorNum));
                    $(leftcolumn).append(infosection.format("מספר יחידה", datarecord.UnitNum));
                    $(leftcolumn).append(infosection.format("שטח", datarecord.UnitSize));
                    $(leftcolumn).append(infosection.format("מחיר", datarecord.Price));

                    //$(rightcolumn).append(infosection.format("איש קשר", datarecord.ContactName));
                    //$(rightcolumn).append(infosection.format("טלפון", datarecord.ContactPhone));
                    //$(rightcolumn).append(infosection.format("סלולארי", datarecord.ContactMobile));
                    //$(rightcolumn).append(infosection.format("דואל", datarecord.ContactMail));
                    $(rightcolumn).append(infosection.format("קוד יחידה", datarecord.UnitId));
                    $(rightcolumn).append(infosection.format("קוד בניין", datarecord.BuildingId));

                    var ownerContainer = $("<div style='margin: 10px;direction:rtl;'><b>בעלים:</b> <a href='#' data-rel='popup' data-position-to='window' data-role='button' data-theme='a' data-inline='true'>" + datarecord.OwnerName + "</a></div>")
                      .on("click", function (e) {
                          e.preventDefault();
                          //popupIframe("_AccountInfo?id=" + datarecord.OwnerId, "240", "120");
                          app_accounts.accountDisplay(datarecord.OwnerId, "בעלים");
                      });

                    $(rightcolumn).append(ownerContainer);

                    //notes container
                    var notescontainer = $('<div style="white-space: normal; margin: 5px;text-align:right;"><span>' + datarecord.Memo + '</span></div><br/>' +
                        '<div style="white-space: normal; margin: 5px;text-align:right;"><span>' + '' + '</span></div>');
                    notescontainer.rtl = true;
                    $(notes).append(notescontainer);
                                        

                    //actions container
                    var actionscontainer = $('<div style="white-space: normal; margin: 5px;text-align:right;"></div>');
                    actionscontainer.rtl = true;
                    actionscontainer.append("<span class='row_link'><a href='../Crm/AdsDef?id=" + datarecord.UnitId + "&op=u'>פרסום חדש</a></span>");
                    actionscontainer.append("<span class='row_link'><a href='../Crm/AdsGrid?id=" + datarecord.UnitId + "&op=property'>דוח פרסום</a></span>");

                   
                    //actionscontainer.append(mediaLink);

                    $(actions).append(actionscontainer);


                    $(tabsdiv).jqxTabs({ width: '95%', height: 170, rtl:true });
                }
            }
            // create Tree Grid
            $("#jqxgrid").jqxGrid(
            {
                width: '100%',
                autoheight: true,
                rtl: true,
                source: dataAdapter,
                localization: getLocalization('he'),
                virtualmode: true,
                rendergridrows: function (obj) {
                    //alert('virtualmode');
                    console.log(obj)
                    return obj.data;
                },
                pageable: true,
                pagermode: 'simple',
                sortable: true,
                altrows: true,
                rowdetails: true,
                rowdetailstemplate: { rowdetails: "<div style='margin: 10px;'><ul style='margin-right: 30px;'><li class='title'>כללי</li><li>פרטים</li><li>פעולות</li></ul><div class='information'></div><div class='notes'></div><div class='actions'></div></div>", rowdetailsheight: 200 },
                ready: function () {
                    $("#jqxgrid").jqxGrid('showrowdetails', 0);
                    //$("#jqxgrid").jqxGrid('showrowdetails', 1);
                },
                initrowdetails: initrowdetails,
                columns: [
                  { text: 'קוד יחידה', dataField: 'UnitId', width: 100, cellsalign: 'right', align: 'center', cellsrenderer: cellsrenderer },
                  { text: 'קומה', dataField: 'FloorNum', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'שטח', dataField: 'UnitSize', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'מחיר', dataField: 'Price', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'סוג עסקה', dataField: 'DealName', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'מטרה', dataField: 'PurposeName', width: 120, cellsalign: 'right', align: 'center' },
                  { text: 'מאוכלס', datafield: 'Populate', threestatecheckbox: true, columntype: 'checkbox', width: 70, cellsalign: 'right', align: 'center' },
                  { text: 'בעלים', dataField: 'OwnerName', cellsalign: 'right', align: 'center' },
                  { text: 'סוכן', dataField: 'UserName', width: 100, cellsalign: 'right', align: 'center' },
                  //{ text: 'סלולארי', dataField: 'ContactMobile', width: 150, cellsalign: 'right', align: 'center' },
                  { text: 'מועד עדכון', dataField: 'LastUpdate', type: 'date', width: 120, cellsformat: 'd', cellsalign: 'right', align: 'center' }
                ]
            });
          
        });

        
    </script>
}


@section featured {


}
<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Buildings</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>


<hgroup class="title">
    <h3 class="rightPan">רשימת יחידות ב</h3>
</hgroup>

<div class="clear"></div>

<div class="global">
    <div class="container">

        <div class="grid-wrap">
             <div style="display: inline; text-align: right; font-size: 18px; direction: rtl;">
                <div><a href="BuildingDef?id=@Model.BuildingId" title="הצג בניין"><span>בניין:</span>@Model.BuildingName</a></div>
                <div><span>כתובת: </span>@Model.Address</div>
                <div><a id="linkNewUnit" href="UnitDef?id=0&bid=@Model.BuildingId" title="הוספת יחידה">הוספת יחידה</a></div>
            </div>

            <div id="jqxWidget">
                <div id="jqxgrid" style="position:relative;z-index:1;"></div>
                <div style="margin-top: 30px;">
                    <div id="cellbegineditevent"></div>
                    <div style="margin-top: 10px;" id="cellendeditevent"></div>
                </div>
            </div>

            @*<div data-role="popup" id="popupMedia" data-overlay-theme="b" data-theme="b" data-corners="false" data-tolerance="15,15">
			    <a href="#" data-rel="back" data-role="button" data-theme="b" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			    <iframe id="mediaFrame" seamless></iframe>
		    </div>*@
        </div>
    </div>
</div>
