@model Pro.Data.Entities.BuildingInfoView
@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Building";
    int id = Nistec.Types.ToInt(Request.QueryString["id"]);
    int bid = Nistec.Types.ToInt(Request.QueryString["bid"]);
}
@section head {
    @Scripts.Render("~/bundles/jqx")
    <script type="text/javascript" src="~/Scripts/app/model/unit-def.js?ver=2018004"></script>

<!--uploader===========================================-->
<script src="~/Scripts/app/app-media-2.0.js"></script>
<script src="~/jqwidgets/jqxsplitter.js"></script>
<script src="~/Scripts/plagins/colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" href="~/Scripts/plagins/colorbox/colorbox.css" />

<script src="~/Scripts/plagins/uploader/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Scripts/plagins/uploader/js/jquery.iframe-transport.js"></script>
<script src="~/Scripts/plagins/uploader/js/jquery.fileupload.js"></script>
<link rel="stylesheet" href="~/Scripts/plagins/uploader/css/jquery.fileupload.css">

}

@section scripts {
    <script type="text/javascript">

        var allowEdit = 0;
        var srcOrigSize = 0;
        var srcFloorNum;
        var unitdef;
        $(document).ready(function () {

            allowEdit = ('@ViewBag.UserRole' == 9) ? 1 : 0;

            $("#form-model").html("שטח פנוי: "+'@Model.SumFloorFree'+"<br/> שטח לא מוגדר: "+'@Model.SumFloorRemain');

            JSON.useDateParser();
            var theme = 'Arctic';
           
            //$("#divImages").css('display', 'none');

            unitdef = new app_unit_def(parseInt('@id'), parseInt('@bid'), '@Model.PropertyType', '@Model.BuildingName', '@Model.FloorNum', '@Model.SumFloorRemain', parseInt('@ViewBag.UserRole'), parseInt('@ViewBag.UserID'));
            //entity.loadDataAdapter();


            $('#linkTransaction').click(function (e) {

                var url = "/Common/_TransWizard4Seller?id=" + unitdef.UnitId;
                app_iframe.appendPanelSwitch("wiz-parent", url, "100%", 420, true, "הגדרת דוח עסקה");

                //propertyDialog = app_dialog.dialogIframe(url, "1020", "510", "הגדרת  דוח עסקה");
            });

            //$('#btnReloadImages').click(function (e) {
            //    var id = $("#UnitId").val();
            //    if (id > 0)
            //        app_media.loadImages(id);
            //});
            $('#btnAds').click(function (e) {
                var id = $("#UnitId").val();
                if (id > 0)
                    app.redirectTo('../Crm/AdsDef?id=' + id + '&op=u');
            });


            // prepare the data
            //$("form").submit(function (e) {

            //    e.preventDefault();
            //    app_unit_def.doSubmit();

            //});
        });


        var propertyDialog;
        function clickLink(elementName) {
            $('#' + elementName).click();
            $('#form').jqxValidator('validate');
        }

 
    </script>

}
<!--breadcrumb-->
<div class="breadcrumbs">
    @Html.ActionLink("Home", "Index", "Home")>
    @Html.ActionLink("Main", "Main", "Home")>
    <a href="javascript:parent.history.back()">Buildings</a> >
    @ViewContext.RouteData.Values["action"].ToString()
</div>

<div class="clear"></div>

<div class="global-view">
    
    <div class="container-box">

        <div class="box-title">
            <h3 id="hTitle">טופס עדכון יחידה</h3>
            <div><span>כתובת: </span>@Model.Address</div>
        </div>
       
            <div id="wiz-parent" class="section-table">

                <div class="panel-area">
                    <div class="panel-area-title"><h4 id="hImages" class="rtl right"><a id="btnImages" href="#">תמונות</a></h4></div>
                        <div id="media-files"></div>
                    </div>

                <div class="section-cell1">
                        <div style="direction:rtl">
                            <form class="form" id="form" method="post" action="/Building/UpdateUnit">

                                <input type="hidden" id="PropertyType" name="PropertyType" />
                                <input type="hidden" id="UnitSizeOrig" value="0" />

                                <div class="tab-content">
                                        <div class="panel-area">
                                            <div class="panel-area-title">פרטי בניין</div>

                                            <div id="divUnitId" class="form-group">
                                                <label class="column">
                                                    קוד יחידה: <input id="UnitId" type="number" name="UnitId" readonly="readonly" class="number label" />
                                                </label>

                                            </div>
                                            <div class="form-group">
                                                <label class="column">
                                                    קוד בניין: <input id="BuildingId" type="number" name="BuildingId" readonly="readonly" class="number label" style="width:50px !important" />
                                                    <span id="BuildingLink" class="rtl"></span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="column">
                                                    שם בניין: <input id="BuildingName" type="text" readonly="readonly" class="label" />
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="column">
                                                    קומה:<span class="mandatory">(*)</span>
                                                </label>
                                                <input id="FloorNum" type="number" name="FloorNum" step="any" class="number" />
                                            </div>
                                            <div class="form-group">
                                                <label class="column">
                                                    שטח:<span class="mandatory">(*)</span>
                                                </label>
                                                <input id="UnitSize" type="number" name="UnitSize" step="any" class="number" />
                                            </div>
                                        </div>
                                        <div class="panel-area">
                                            <div class="panel-area-title">סוג נכס\עסקה</div>
                                            <div class="section-table">
                                                <div class="section-cell">
                                                    <div class="form-group">
                                                        <label class="column">
                                                            מחיר למ"ר:
                                                        </label>
                                                        <input id="Price" type="number" name="Price" step="any" class="number" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="column">
                                                            תאור מחיר:
                                                        </label>
                                                        <select id="PriceType" name="PriceType"></select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="column">
                                                            סוג דמי ניהול:
                                                        </label>
                                                        <select id="ManagementFeeType" name="ManagementFeeType"></select>
                                                    </div>
                                                    <div id="ManagementFee-div" class="form-group" style="display:none">
                                                        <label class="column">
                                                            מחיר דמי ניהול:<span class="mandatory">(*)</span>
                                                        </label>
                                                        <input id="ManagementFee" type="number" name="ManagementFee" step="any" class="number" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="column">
                                                            מספר חניות:<span class="mandatory">(*)</span>
                                                        </label>
                                                        <input id="ParkNum" type="number" name="ParkNum" class="number" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="column">
                                                            מחיר לחניה:<span class="mandatory">(*)</span>
                                                        </label>
                                                        <input id="ParkPrice" type="number" name="ParkPrice" step="any" class="number" />
                                                    </div>
                                                </div>
                                                <div class="section-cell">
                                                    <div class="form-group">
                                                        <label class="column">
                                                            סוג הנכס/שימוש:<span class="mandatory">(*)</span>
                                                        </label>
                                                        <div id="PurposeId" name="PurposeId">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="column">
                                                            סוג עסקה:<span class="mandatory">(*)</span>
                                                        </label>
                                                        <div id="DealType" name="DealType">
                                                            <!-- style="padding: 10px">-->
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="column">
                                                            מאוכלס?:
                                                        </label>
                                                        <input id="Populate" name="Populate" type="checkbox" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-area">
                                            <div class="panel-area-title">בעלים\דייר</div>
                                            <div class="form-group">
                                                <label class="column">
                                                    בעלים:<span class="mandatory">(*)</span>
                                                    <a id="showOwner" href="#">הצג</a>|
                                                    <a id="refreshOwner" href="#">רענן</a>|
                                                    <a id="queryOwner" href="#">איתור</a>|
                                                    <a id="editOwner" href="#">עריכה</a>
                                                </label>
                                                <input type="text" id="OwnerId" name="OwnerId" /><i class="fa fa-search"></i>
                                            </div>
                                            <div class="form-group">
                                                <label class="column">
                                                    דייר:
                                                    <a id="showTenant" href="#">הצג</a>|
                                                    <a id="refreshTenant" href="#">רענן</a>|
                                                    <a id="editTenant" href="#">עריכה</a>
                                                </label>
                                                <input type="text" id="TenantId" name="TenantId" /><i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    <div class="panel-area">
                                        <div class="panel-area-title">תאריכים</div>
                                        <div class="section-table">
                                            <div class="section-cell">

                                                <div class="form-group">
                                                    <label class="column">
                                                        תאריך סיום חוזה:
                                                    </label>
                                                    <div id="DateEndContract" name="DateEndContract"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="column">
                                                        תאריך סיום אופציה 1:
                                                    </label>
                                                    <div id="DateEndOption1" name="DateEndOption1"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="column">
                                                        תאריך סיום אופציה 2:
                                                    </label>
                                                    <div id="DateEndOption2" name="DateEndOption2"></div>
                                                </div>
                                            </div>
                                            <div class="section-cell">

                                                <div class="form-group">
                                                    <label class="column">
                                                        סוכן:
                                                    </label>
                                                    <input type="hidden" name="AgentId" data-type="lookup" />
                                                    <input id="AgentId" type="text" readonly="readonly"/>
                                                    @*<div id="AgentId" name="AgentId"></div>*@
                                                </div>
                                                <div class="form-group">
                                                    <label class="column">
                                                        מועד עדכון:
                                                    </label>
                                                    <input id="LastUpdate" disabled="disabled" type="text" name="LastUpdate" class="text" />
                                                </div>
                                                </div>
                                            </div>

                                        <div class="form-group">
                                            <label class="column">
                                                הערות:
                                            </label><br />
                                            <textarea id="Memo" name="Memo" style="width:99%;height:100px"></textarea>
                                        </div>
                                            </div>

                                            <div class="panel-area">
                                                <input id="submit" type="submit" value="עדכון" class="btn-default btn2" />
                                                <input id="reset" type="reset" value="רענון" class="btn-default btn2" />
                                                <input id="btnAds" type="button" value="פרסום" class="btn-default btn2" />
                                                <input id="linkTransaction" type="button" value="דוח סיכום עסקה" class="btn-default btn2" />
                                                <input id="tbProp2Admin" type="button" value="עדכון למאגר הנכסים" class="btn-default btn2" style="display:none" />
                                            </div>
                                        </div>
</form>
                        </div>
                    </div>


                </div>

            @*<div style="clear:both"></div>*@

       </div>
</div>

<script type="text/javascript">

               
                $('#tbProp2Admin').on('click', function () {

                    if (confirm("האם לעדכן את מאגר הנכסים?") == false)
                        return;

                    $.ajax({
                        dataType: 'json',
                        type: 'POST',
                        url: '@Url.Action("PropertyToAdmin", "Building")',
                        data: { 'id': '@id'},
                        success: function (data) {
                            alert(data.Message);
                        },
                        error: function (jqXHR, status, error) {
                            alert(error);
                        }
                    });
                });
</script>
<!--end of content-wrapper-->
<script type="text/javascript">
    app_menu.activeLayoutMenu("liBuilding");
</script>