@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Building";
    
   
}

@section head {
    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
<script src="~/Scripts/plagins/tabs/jcxtabs.min.js"></script>
<link href="~/Scripts/plagins/tabs/jcxtabs-light.css" rel="stylesheet" /> 
       
<script src="~/Scripts/app/model/units-query.js?ver=2018004"></script>
    <style type="text/css">
        table {
            direction: rtl;
        }

        td {
            padding-top: 0px;
            padding-bottom: 5px;
        }
        input {
        direction:rtl; text-align:right;

        }
        /*.row_link {
            margin: 10px;
            direction: rtl;
            font-size: 16px;
        }*/
        .inline {
            display: inline-block;
        }

        .label {
            display: inline-block;
        }
        /*.tab-pane{text-align: right;  direction: rtl; margin:10px}*/
    </style>
 
    <script type="text/javascript">
        $(document).ready(function () {
            var me = this;

            if ('@ViewBag.UserRole' == 9) {
                $('#AdminContainer').append(app_const.buildingToActiveLink);
            }

            var unitsQuery = new app_units_query();


     });



        //$("#formAddress").on("submit", function () {
        //    alert('on submit');
        //    if ($("#building_name").val() == '' && $("#building_street").val() == ''  && $("#building_city").val() == '') {
        //        alert("נא לציין שם בניין או כתובת");
        //        return false;
        //    }
        //    else
        //        return true;
        //})

        //function formAddressOnSubmit() {

        //    if (($("#building_name").val() == '') || ($("#building_street").val() == '' && $("#building_num").val() == '' && $("#building_city").val() == '')) {
        //        alert("נא לציין שם בניין או כתובת");
        //        return false;
        //    }
        //    else
        //        return true;
        //}
    </script>
}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
@ViewContext.RouteData.Values["action"].ToString()
</div>


<div class="clear"></div>

<div class="global-view">

    <div class="container-box">
        <div class="box-title">
            <h3>איתור נכסים</h3>
        </div>
 
            <div id="jcx-tabs" class="jcx-tabs rtl">
                <ul id="tab-query" class="nav nav-tabs">
                    <li class="active"><a href="#tab-address" data-toggle="tab">חיפוש לפי כתובת</a></li>
                    <li>
                        <a id="li-general" href="#tab-general" data-toggle="tab">חיפוש כללי</a>
                    </li>
                    <li><a id="li-agent" href="#tab-agent" data-toggle="tab">חיפוש לפי סוכן</a></li>
                    <li><a id="li-owner" href="#tab-owner" data-toggle="tab">חיפוש לפי בעלים</a></li>
                    <li><a id="li-natam" href="#tab-natam" data-toggle="tab">בניינים בניהול נת"מ</a></li>
                </ul>
                <!--<div id="tab-content" class="tab-content" dir="rtl">-->
                <div class="jcxtab-panel active" id="tab-address">
                    <div class="panel-area" style="text-align: right;  direction: rtl;">
                        <p class="panel-area-title">חיפוש לפי שם בניין או לפי כתובת</p>
                        
                        <form id="formAddress" action="BuildingGrid" method="post">
                            <div>
                                
                                <ul style="list-style-type: circle">
                                    <li>
                                        <p style="color:#5AB1D0;font-weight:bold">חיפוש לפי שם בניין</p>
                                        <div class="form-group">
                                            <label class="column">
                                                שם הבניין:
                                            </label>
                                            <input type="hidden" id="building_name_val" name="building_name"/>
                                            <input type="text" autocomplete="off" id="building_name"/><i class="fa fa-search"></i>
                                            <div id="BuildingLinks"></div>
                                        </div>
                                        <div style="height:20px"></div>
                                    </li>
                                    <li><p style="color:#5AB1D0;font-weight:bold">חיפוש לפי כתובת</p>
                                        <div class="form-group">
                                            <label class="column">
                                                עיר:
                                            </label>
                                            <input type="text" id="CityCode" autocomplete="off" /><i class="fa fa-search"></i>
                                            <input type="hidden" id="CityCode_val" name="CityCode" />
                                        </div>
                                        <div class="form-group">
                                            <label class="column">
                                                רחוב:
                                            </label>
                                            <input type="text" id="StreetId" autocomplete="off" /><i class="fa fa-search"></i>
                                            <input type="hidden" id="StreetId_val" name="StreetId" value="tab-address" />
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                (אופציונאלי)מספר בניין:
                                            </label>
                                            <div>
                                                <input type="text" name="building_num" style="width: 40px" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div style="height:20px"></div>
                            </div>
                            <div>
                                <ul>
                                    <li class="inline"><input type="radio" class="formAddress" name="search_type" value="Units" checked="checked" /><span>איתור יחידות</span></li>
                                    <li class="inline"><input type="radio" class="formAddress" name="search_type" value="Buildings" /><span>איתור בניינים</span></li>
                                </ul>
                            </div>
                            <br />
                            <div>
                                <input type="hidden" name="query_type" value="tab-address" />
                                <input type="button" id="submitAddress" value="הצג" class="btn-default btn2" />
                                <input id="reset" type="button" value="נקה" class="btn-default btn2" />
                            </div>
                            <div id="AdminContainer" class="rtl"></div>
                        </form>
                    </div>
                </div>
                <div class="jcxtab-panel" id="tab-general">

                    <div class="panel-area">
                        <p class="panel-area-title">חיפוש כללי</p>
                        <p>
                            באפשרותכם להוסיף הערות לבניינים קייימים ע"י חיפוש במנוע להלן.<br>
                            במידה והבניין אינו קיים במערכת <a href="BuildingNew">לחצו כאן לרישום בניין חדש.</a><br />
                        </p>
                        <form id="formGeneral" action="BuildingGrid" method="post">

                            <div class="row">
                                <div class="column-right">
                                    <span>שם האזור</span>
                                    <div id="listZone" name="listZone"></div>
                                </div>
                                <div class="column-right">
                                    <span>גודל השטח (מ"ר)</span>
                                    <div style="vertical-align:top">
                                        <span>מ:</span><br />
                                        <input type="number" name="size-from" /><br />
                                        <span>עד:</span><br />
                                        <input type="number" name="size-to" />
                                    </div>
                                </div>
                            </div>


                            @*<div style="margin-left:20px;">
                                <div style="float: right; padding-left: 20px; padding-bottom: 20px; ">
                                    
                                </div>
                                <div style="float: right; padding-left: 20px; padding-bottom: 20px; ">
                                    
                                </div>
                                <div style="clear:both"></div>
                            </div>*@

                            <div style="margin-left:20px;">
                                <span> שם העיר - מתעדכן אוטומטית</span> | <a href="#" id="selectAllArea">סמן  הכל</a> | <a href="#" id="unselectAllArea">בטל</a>
                                <div style="max-width:380px">
                                    <div id="listArea" name="listArea"></div>
                                </div>
                            </div>
                            
                            <div style="height:20px"></div>

                            <div class="row">
                                <div class="column-right">
                                    <span>סוג העסקה</span>
                                    <div id="listDeal" name="listDeal"></div>
                                </div>
                                <div class="column-right">
                                    <span>ייעוד הנכס</span>
                                    <div id="listPurpose" name="listPurpose"></div>
                                </div>
                            </div>


                            @*<div style="margin-left:20px;">
                                <div style="float: right; padding-left: 20px; padding-bottom: 20px; ">
                                    <span>סוג העסקה</span>
                                    <div id="listDeal" name="listDeal"></div>
                                </div>
                                <div style="float: right; padding-left: 20px; padding-bottom: 20px; ">
                                    <span>ייעוד הנכס</span>
                                    <div id="listPurpose" name="listPurpose"></div>
                                </div>
                                <div style="clear:both"></div>
                            </div>*@
                            <div>
                                <ul>
                                    <li class="inline"><input type="radio" class="formGeneral" name="search_type" value="Units" checked="checked" /><span>איתור יחידות</span></li>
                                    <li class="inline"><input type="radio" class="formGeneral" name="search_type" value="Buildings" /><span>איתור בניינים</span></li>
                                </ul>
                            </div>
                            <div>

                                <input type="hidden" id="Purpose" name="Purpose" value="" />
                                <input type="hidden" id="Deal" name="Deal" value="" />
                                <input type="hidden" id="Area" name="Area" value="" />
                                <input type="hidden" id="Zone" name="Zone" value="" />
                                <input type="hidden" name="query_type" value="tab-general" />
                                <input type="submit" value="הצג" class="btn-default btn2" />
                                <input type="reset" value="נקה" class="btn-default btn2 reset" />
                            </div>
                        </form>

                    </div>

                </div>
                <div class="jcxtab-panel" id="tab-agent">
                    <div class="panel-area">
                        <p class="panel-area-title">חיפוש לפי סוכן</p>
                        <form id="formAgent" action="BuildingUnitGrid" method="post">
                            <div class="rtl">
                                <div class="form-group">
                                     <div class="rtl">
                                        <div id="listAgent" name="listAgent"></div>
                                    </div>
                                </div>
                            </div>
                            @*<div>
                                <ul>
                                    <li class="inline"><input type="radio" class="formAgent" name="search_type" value="Units" checked="checked" /><span>איתור יחידות</span></li>
                                    <li class="inline"><input type="radio" class="formAgent" name="search_type" value="Buildings" /><span>איתור בניינים</span></li>
                                </ul>
                            </div>*@
                            <br />
                            <div>
                                <input type="hidden" name="search_type" value="Units" />
                                <input type="hidden" id="selectedAgentId" name="selectedAgentId" value="" />
                                <input type="hidden" name="query_type" value="tab-agent" />
                                <input type="submit" value="הצג" class="btn-default btn2" />
                                <input type="reset" value="נקה" class="btn-default btn2 reset" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="jcxtab-panel" id="tab-owner">
                    <div class="panel-area">
                        <p class="panel-area-title">חיפוש לפי בעלים</p>
                        <form id="formOwner" action="BuildingGrid" method="post">
                            <div class="rtl">
                                <div class="form-group">
                                    <div>
                                        חיפוש בעלים לפי
                                        <select id="ownerSearchBy" style="border:none">
                                            <option value="0" selected="selected">שם חברה</option>
                                            <option value="1">איש קשר</option>
                                        </select>
                                    </div>
                                    <br />
                                    <div class="rtl">
                                        <div id="listOwner" name="listOwner"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="inline"><input type="radio" class="formOwner" name="search_type" value="Units" checked="checked" /><span>איתור יחידות</span></li>
                                    <li class="inline"><input type="radio" class="formOwner" name="search_type" value="Buildings" /><span>איתור בניינים</span></li>
                                </ul>
                            </div>
                            <br />
                            <div>
                                <input type="hidden" id="selectedOwnerId" name="selectedOwnerId" value="" />
                                <input type="hidden" name="query_type" value="tab-owner" />
                                <input type="submit" value="הצג" class="btn-default btn2" />
                                <input type="reset" value="נקה" class="btn-default btn2 reset" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="jcxtab-panel" id="tab-natam">
                    <div class="panel-area">
                        <p class="panel-area-title">בניינים בניהול נת"מ</p>
                        <form id="formNatam" action="BuildingGrid" method="post">
                            <div id="listNatam" name="listNatam"></div>
                            <div>
                                <ul>
                                    <li class="inline"><input type="radio" class="formNatam" name="search_type" value="Units" checked="checked" /><span>איתור יחידות</span></li>
                                    <li class="inline"><input type="radio" class="formNatam" name="search_type" value="Buildings" /><span>איתור בניינים</span></li>
                                </ul>
                            </div>
                            <br />

                            <div>
                                <input type="hidden" id="selectedNatamId" name="selectedNatamId" value="" />
                                <input type="hidden" name="query_type" value="tab-natam" />
                                <input type="submit" value="הצג" class="btn-default btn2" />
                                <input type="reset" value="נקה" class="btn-default btn2 reset" />
                            </div>
                        </form>
                    </div>

                </div>
                <!--</div>-->
            </div>
    </div>
</div>
<script type="text/javascript">
    app_menu.activeLayoutMenu("liBuilding");
</script>



