@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Building";

    int id = Nistec.Types.ToInt(Request.QueryString["id"]);
    
}
@section head {

    @Scripts.Render("~/bundles/jqx")
<script src="~/Scripts/plagins/tabs/jcxtabs.min.js"></script>
<link href="~/Scripts/plagins/tabs/jcxtabs-light.css" rel="stylesheet" />    
   <script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
   <script type="text/javascript" src="~/Scripts/app/model/leads-def.js?ver=2018004"></script>

   @*<link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />*@
   
    <style type="text/css">
        .styledTable {
            direction:rtl; text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;padding-left:20px;text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;text-align:right;
        }
        .styledRowKey {padding-left:20px;text-align:right;
        }
        .styledRowValue {text-align:right;
        }
       
        #dropdownlistContentAreaType{direction:rtl; text-align:right;float:right;}
        #dropdownlistArrowAreaType {
            direction: rtl;
            text-align: right;
            float: right;
        }

        .jqx-button jqx-combobox-multi-item jqx-fill-state-normal jqx-rc-all{direction:rtl; text-align:right;float:right;}

    </style>

}

@section scripts {
    <script type="text/javascript">

    var def;

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';
       
         def = new app_leads_def(parseInt('@id'), parseInt('@ViewBag.UserId'), parseInt('@ViewBag.UserRole'));

         //prepare the data
        $("form").submit(function (e) {

            e.preventDefault();
            def.doSubmit();

        });

        $('#tab-form').on('click', function (e) {
            //e.preventDefault();
           def.validateTabs();
        });

    });

  
</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Crm</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>


<div class="clear"></div>

<div class="global-view">
    <div class="container-box">
                <div class="box-title">
                    <h3 id="hLeadName">הגדרת לקוח</h3>
                </div>
                <div id="wiz-parent" class="rtl">
                    <div id="notif_container"></div>
                    <!--target="form-iframe"-->
                    <form class="form" id="form" method="post" action="/Crm/UpdateLead">
                        <input id="LeadId" type="hidden" name="LeadId" />
                        <input id="UploadKey" type="hidden" name="UploadKey" />
                        <input id="ValidateResult" type="hidden" />

                        <div id="accordion" class="jcx-tabs rtl">
                            <ul class="jcx-tabs-nav" id="tab-form">
                                <li class="active"><a id="linkA" data-toggle="tab" href="#tab1">פרטי לקוח</a></li>
                                <li><a id="linkB" data-toggle="tab" href="#tab2">נתונים כללים</a></li>
                                <li><a id="linkC" data-toggle="tab" href="#tab3">רשימת נכסים</a></li>
                                <li><a id="linkD" data-toggle="tab" href="#tab4">מעקב שיחות</a></li>
                            </ul>
                            <div id="tab1" class="jcxtab-panel active">
                                <div class="panel-area">
                                    <div class="panel-area-title">פרטי לקוח</div>
                                    <a id="checkAccountValidity" href="#">בדיקה</a>

                                    <div class="form-group">
                                        <label class="column">
                                            שם חברה:<span class="mandatory">(*)</span>
                                        </label>
                                        <input id="CustomerName" type="text" name="CustomerName" class="text" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            כתובת:
                                        </label>
                                        <input id="Address" name="Address" type="text" class="text-mid" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            עיר:
                                        </label>
                                        <input id="City" name="City" type="text" class="text-mid" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            טלפון-1 :
                                        </label>
                                        <input id="Phone" type="text" name="Phone" class="text" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            טלפון-2 :
                                        </label>
                                        <input id="Phone2" type="text" name="Phone2" class="text" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            מספר פקס :
                                        </label>
                                        <input id="Fax" name="Fax" type="text" class="text-mid" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            תאריך רישום מקורי:
                                        </label>
                                        <input id="Creation" readonly="readonly" type="text" class="text" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            מועד עדכון:
                                        </label>
                                        <input id="LastUpdate" readonly="true" type="text" class="text" />
                                    </div>
                                    <div id="contactsGrid"></div>
                                </div>
                            </div>
                            <div id="tab2" class="jcxtab-panel">
                                <div class="panel-area">
                                    <div class="panel-area-title">נתונים כללים</div>
                                    <div class="form-group">
                                        <label class="column">
                                            סוג עסקה:
                                        </label>
                                        <div id="DealType" name="DealType">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            סוג הנכס/שימוש:
                                        </label>
                                        <div id="PurposeType" name="PurposeType">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            אזור מבוקש:
                                        </label>
                                        <div id="AreaType" name="AreaType">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            מועד כניסה:
                                        </label>
                                        <div id="EntryDate" name="EntryDate"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            שטח מבוקש:
                                        </label>
                                        <div id="RequestSize" name="RequestSize">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            מספר חניות:
                                        </label>
                                        <input id="ParkingNum" name="ParkingNum" type="number" class="number" />
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            משך החוזה:
                                        </label>
                                        <input id="ContractDuration" name="ContractDuration" type="number" class="number" /><span>שנים</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            תקציב למ"ר:
                                        </label>
                                        <input id="BadgetForMr" name="BadgetForMr" type="number" class="number" /><span>שח</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="column">
                                            הערות:
                                        </label>
                                        <textarea id="Memo" name="Memo" class="textarea-mid"></textarea>
                                    </div>
                                    <div id="partial-tab2"></div>
                                </div>
                                <div class="panel-area">
                                    <input id="submit" type="submit" value="עדכון" class="btn-default btn2" />
                                    <input id="reset" type="reset" value="רענון" class="btn-default btn2" />
                                    <input id="linkTransaction" type="button" value="דוח סיכום עסקה" class="btn-default btn2" />
                                    <input id="linkTransAdvice" type="button" value="דוח עסקת ייעוץ" class="btn-default btn2" />
                                    <input id="linkTransfer" type="button" value="העברה לסוכן" class="btn-default btn2" />
                                </div>
                            </div>
                            <div id="tab3" class="jcxtab-panel">
                                <div class="panel-area" id="tab3-entry">
                                    <div class="panel-area-title">רשימת נכסים</div>
                                    <div>
                                        <a href="#" id="btnPropertySearch">איתור נכסים</a> | <a href="#" id="btnPropertyAdd">הוספת נכס</a>
                                    </div>
                                    <div id="partial-tab3"></div>
                                    <div>
                                        <h3><span>רשימת נכסים</span>-<a href="#" id="btnPropertyRefresh">רענון</a></h3>

                                        <div>
                                            <iframe id="property-iframe" style="width: 900px; height: 480px; text-align: right" frameborder="0"></iframe>
                                            @*@Html.Action("_LeadPropertyGrid", "Common", new { id = @id })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="jcxtab-panel">
                                <div class="panel-area">
                                    <div class="panel-area-title">מעקב שיחות</div>
                                    <div>
                                        <iframe id="trace-iframe" style="width: 900px; height: 480px; text-align: right" frameborder="0"></iframe>
                                    </div>
                                </div>
                                <div id="partial-tab4"></div>
                            </div>
                        </div>

                    </form>

                    @*<div style="text-align: center">
                            <iframe id="form-iframe" name="form-iframe" style="width: 400px; height: 160px; text-align: right" frameborder="0"></iframe>
                            <div id="form-next" style="font-size:18px"></div>
                        </div>*@


                </div>
            </div>
</div>
<!--end of content-wrapper-->
<script type="text/javascript">
   app_menu.activeLayoutMenu("liLeads");
</script>

